@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
/* common classes */
.display_flex{
    display: flex;
}

.text_color_dark2{
    color: #424242;
}
.text_color_light{
    color: #727272;
}
.background_color{
    background-color: rgba(255, 144, 14, 0.1);
}

.all_btn{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 600px;
    cursor: pointer;
}
.all_btn:hover{
    background-color: bisque;
    color: black;
}



/* unique classes */
main{
    max-width: 1440px;
    margin: 0 auto;
}

.navbar{
    justify-content: space-between;
    align-items: center;

}
.brand_name{
    font-weight: bold;
    font-size: 3rem;
}
.nav_link{
    
}

.nav_items{
    list-style: none;
    margin-right: 30px;
}
.nav_links{
    text-decoration: none;
    font-weight: 500px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;

}


/* banner class */

.banner_title{
    font-size: 4rem;
    font-weight: bold;
}
.banner_content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner_img{
    width: 100%;
}

/* section_cls */
.section_cls{
    align-items: center;
}

.team_img_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 5.31rem ;
}
.feature{
    max-width: 33.5rem;
    margin-left: 4.68rem;
}

.feature_title{
    font-size: 2.8rem;
    font-weight: bold;
}
#feature_word{
    color: #FF900E;
    
}



/* ************************** love and enjoy********************** */
.love_enjoy{
    justify-content: center;
    gap: 9.12rem
    ;
    margin-top: 8.125rem;
}
.love_enjoy_title{
    border-left: 5px solid #FF900E;
    padding: 1.2rem;
    font-size: 2.8rem;
    max-width: 29.25rem;

}

.love_enjoy_pera{
    max-width: 36.625rem;
}

.box_title{
    max-width: 32.125rem;
}

.love_enjoy_box{
    padding: 1.6rem;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 1.25rem; 
    border-radius: 10px;  
}

.ten_years_exp{
    max-width: 21.325rem;
}

#ten_years{
    font-size: 65px;
    font-weight: bold;
    
}
.ten_years_exp{
    padding: 45px 43px;
    margin-left: -54px;
    margin-top: -77px;
}


/* for some fact******************************* */

.some_fact{
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    margin-top: 100px;
    
}
.facts{
    width: 240px;
    height: 240px;
    border-radius: 10px;
    border: 1px solid #FF900E ;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 45px 36px 60px 35px;
}

/* //////////////sponsors//////// */


.sponsor_sec_div{
    max-width: 542px;
    /* margin: 180px 689px 50px 689px; */
    margin: 50px auto;
    text-align: center;
}
.sponsor_sec_div h1{
    width: 100%;
    font-size: 45px;
}

.all_sponsor_logo{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 155.24;
}
.all_sponsor_logo img{
    filter: grayscale(100%);
}

.footer_div{
    text-align: center;
    background-color: #FFF4E7;
}
.footer{
    min-height: 10%;
    /* padding: 30%; */
    /* max-width: 1440px; */
    margin: 10%;
}
.footer_div{
    padding: 1%;
}
.footer_div p{
    font-size: 20px;
}
/* ************************responsive small design********************************** */
@media screen and (max-width:576px) {
    .navbar, 
    .nav_link,
    .section_cls,
    .love_enjoy{
        flex-direction: column;
    }

    .team_img_container,
    .all_sponsor_logo{
        grid-template-columns: repeat(1, 1fr); 
    }
    .all_sponsor_logo{
        margin: 30% ;
        gap: 20px;
    }
    .feature{
        margin-left: 1.25rem;
    }
    #ten_years{
        font-size: 30px;
    }
    .ten_years_exp{
        padding: 20px 30px;
        max-width: 200px;
        margin: 10px 20px 10px 100px;
    }
    .some_fact{
        /* height: 600px;
        width: 1440px; */
        
        grid-template-columns: repeat(1, 1fr);
        margin: 5%
        
    }
    .sponsor_sec{
        /* margin-top: 900px; */
    }

}



/* ************************responsive medium device************************ */

@media screen and (min-width: 576px) and (max-width:992px) {
    .section_cls{
        flex-direction: column;
    }
    .some_fact{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-left: 50px;
    }
    
}